#ignore composer local stuff
composer.phar
composer.lock
vendor

#ignore phpunit local stuff
phpunit.xml

#ignore text editor backup files
*.sw*
*~

#ignore JetBrains IDE files (PHPStorm)
.project
.idea
